@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Sriracha&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box; /*inclui o preenchimento e a borda na largura e altura total de um elemento.*/
    outline: none; /*sem contorno*/
    border: none; /*sem borda*/
    text-transform: capitalize; /*primeira letra de cada palavra em maiúsculo e as outras letras da palavra em minúsculo*/
    text-decoration: none;
    transition: .2s linear; /*linear é para transição ser de uma velocidade constante*/
}

.container .heading{
    text-align: center;
    padding: 10px;
    color: #333;
    font-size: 35px;
    border-bottom: 3px solid #333;
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: white;
    z-index: 11;
}

.container .box-container{
    display: grid; /*display em colunas e linhas*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /*repetir as colunas/preencher o  template das colunas/ largura mínima e máxima
     
    *auto-fit: prenche o template de colunas e pega os espaços invisíveis e "destrói", ou seja, na prática ele pega os espaços não alocados e coloca uma largura de 0px pra eles.
    
    */
    gap: 20px; /*distância de uma coluna e outra*/
    padding: 100px 9% 20px;
    background: #eee;
}

.container .box-container.active{ /* o estilo só será adicionado quando a classe 'active' for ativada pelo javascript*/
    padding-bottom:150px; /*padding para dar um espaço das músicas e o player*/
}

.container .box-container .box{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 15px;
    cursor: pointer;
}

.container .box-container .box .image{
    height: 540px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.container .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .box-container .box .image .play{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: none;
}

.container .box-container .box:hover .image .play{
    display: flex;
}

.container .box-container .box .image .play i{
    font-size: 100px;
    color: #fff;
}

.container .box-container .box .content{
    padding-top: 15px;
}

.container .box-container .box .content h3{
  font-size: 20px;
  color: #333;
}

.music-player{
    position: fixed;
    bottom: -125px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
}

.music-player.active{
    bottom:0;
}

.music-player .music-title{
    font-size: 25px;
    margin-bottom: 5px;
    border-top: 3px solid #333;
    border-bottom: 1px solid #333;
    text-align: center;
    color: #333;
    padding: 10px;
}

.music-player audio{
    width: 100%;
}

.music-player audio::-webkit-media-controls-enclosure{
    border-radius: 0;
    background: #fff;
}

.music-player #close-player{
    position: absolute;
    top: -50px;
    right: 5px;
    height: 50px;
    width: 55px;
    line-height: 50px;
    cursor: pointer;
    font-size: 30px;
    color: #333;
    background: #fff;
    border: 3px solid #333;
    border-bottom: none;
    text-align: center;
}

@media(max-width:768px){
    .container .box-container{
        padding: 100px 20px 20px;
    }
}

@media(max-width:450px){
    .container .box-container{
        grid-template-columns: 1fr;
    }

    .container .box-container .box .image{
        height: 300px;
    }
}


